@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@300;700;900&family=Rubik:wght@400;500;600;700');

* {
  margin: 0;
  font-family: "Rubik", Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 1rem;
}

main{
  height: 79.5vh;
}

.logo h1 {
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.container {
  max-width: 1080px;
  margin: 20px auto;
}












footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

footer p {
  margin: 0;
}